INSTANCE_NAME=origin-labs
WIKI_ROOT=/Users/you/Documents/second-brain-obsidian/wiki
RAW_ROOT=/Users/you/Documents/second-brain-obsidian/raw
SOURCE_DIRS=/Users/you/Documents/second-brain-obsidian/01-Projects:/Users/you/Documents/second-brain-obsidian/02-Clients
